[submodule "conformance-tests/jamtestvectors"]
	path = conformance-tests/jamtestvectors
	url = https://github.com/w3f/jamtestvectors.git
[submodule "conformance-tests/jamtestvectors-polkajam"]
	path = conformance-tests/jamtestvectors-polkajam
	url = https://github.com/davxy/jam-test-vectors.git
	branch = master
[submodule "conformance-tests/jamtestvectors-pvm"]
	path = conformance-tests/jamtestvectors-pvm
	url = https://github.com/koute/jamtestvectors.git
	branch = master_pvm_initial
