[workspace]
members = [
    ".",
    "codec/rjam-codec",
    "codec/rjam-codec-derive",
    "common",
    "crypto",
    "db",
    "extrinsics",
    "host-interface",
    "merkle",
    "pvm",
    "pvm-core",
    "pvm-invocation",
    "state",
    "state-merkle",
    "tests",
    "transition",
    "types",
]

[package]
name = "rjam"
description = "JAM Rust implementation"
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
# Internal dependencies
rjam-codec = { path = "codec/rjam-codec" }
rjam-codec-derive = { path = "codec/rjam-codec-derive" }
rjam-common = { path = "common" }
rjam-crypto = { path = "crypto" }
rjam-db = { path = "db" }
rjam-extrinsics = { path = "extrinsics" }
rjam-host-interface = { path = "host-interface" }
rjam-merkle = { path = "merkle" }
rjam-pvm = { path = "pvm" }
rjam-pvm-core = { path = "pvm-core" }
rjam-pvm-invocation = { path = "pvm-invocation" }
rjam-state = { path = "state" }
rjam-state-merkle = { path = "state-merkle" }
rjam-transition = { path = "transition" }
rjam-types = { path = "types" }
# External dependencies
ark-ec-vrfs = { git = "https://github.com/davxy/ark-ec-vrfs", rev = "ea35e22", features = ["bandersnatch", "ring", "parallel", "test-vectors"] }
blake2 = "0.10.6"
bit-vec = "0.8.0"
dashmap = "6.1.0"
dotenv = "0.15.0"
hex = "0.4.3"
lazy_static = "1.5.0"
proc-macro2 = "1.0.86"
quote = "1.0.37"
rocksdb = "0.22.0"
serde = { version = "1.0.204", features = ["derive"] }
sha3 = "0.10.8"
syn = { version = "2.0.79", features = ["full", "extra-traits"] }
thiserror = "1.0.63"
time = "0.3.36"

[dependencies]
rjam-common = { workspace = true }
rjam-db = { workspace = true }
rjam-extrinsics = { workspace = true }
rjam-state = { workspace = true }
lazy_static = { workspace = true }

[dev-dependencies]
serde_json = "1.0.121"

[features]
testing = ["rjam-common/testing"]
