[package]
name = "rjam"
description = "JAM Rust implementation"
version = "0.1.0"
edition = "2021"

[dependencies]
blake2 = "0.10.6"
bit-vec = "0.8.0"
parity-scale-codec = { version = "3.6.12", features = ["derive"] }