[package]
name = "rjam"
description = "JAM Rust implementation"
version = "0.1.0"
edition = "2021"

[dependencies]
blake2 = "0.10.6"
bit-vec = "0.8.0"
dotenv = "0.15.0"
thiserror = "1.0.63"
rocksdb = "0.22.0"
lazy_static = "1.5.0"