[workspace]
resolver = "2"

members = [
    "block",
    "clock",
    "codec/rjam-codec",
    "codec/rjam-codec-derive",
    "common",
    "conformance-tests",
    "crypto",
    "db",
    "extrinsics",
    "merkle",
    "node",
    "pvm/pvm-core",
    "pvm/pvm-host",
    "pvm/pvm-interface",
    "pvm/pvm-invocation",
    "state",
    "state-merkle",
    "transition",
]

[workspace.package]
edition = "2021"

[workspace.dependencies]
# Internal dependencies
rjam-block = { path = "block" }
rjam-clock = { path = "clock" }
rjam-codec = { path = "codec/rjam-codec" }
rjam-codec-derive = { path = "codec/rjam-codec-derive" }
rjam-common = { path = "common" }
rjam-crypto = { path = "crypto" }
rjam-db = { path = "db" }
rjam-extrinsics = { path = "extrinsics" }
rjam-merkle = { path = "merkle" }
rjam-node = { path = "node" }
rjam-pvm-interface = { path = "pvm/pvm-interface" }
rjam-pvm-core = { path = "pvm/pvm-core" }
rjam-pvm-invocation = { path = "pvm/pvm-invocation" }
rjam-pvm-host = { path = "pvm/pvm-host" }
rjam-state = { path = "state" }
rjam-state-merkle = { path = "state-merkle" }
rjam-transition = { path = "transition" }
# External dependencies
ark-ec-vrfs = { git = "https://github.com/davxy/ark-ec-vrfs", rev = "d90e180", features = ["bandersnatch", "ring"] }
async-trait = "0.1.84"
blake2 = "0.10.6"
bit-vec = "0.8.0"
cfg-if = "1.0.0"
dashmap = "6.1.0"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
futures = "0.3.31"
hex = "0.4.3"
paste = "1.0.15"
proc-macro2 = "1.0.86"
quote = "1.0.37"
rand = "0.8.5"
rocksdb = { version = "0.23.0", features = ["default"] }
serde = { version = "1.0.216", features = ["derive"] }
sha3 = "0.10.8"
syn = { version = "2.0.79", features = ["full", "extra-traits"] }
tempfile = "3.14.0"
thiserror = "2.0.11"
time = "0.3.36"
tokio = { version = "1.42.0", features = ["full"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
