[workspace]
members = [
    ".",
    "block",
    "codec",
    "common",
    "crypto",
    "db",
    "extrinsics",
    "host-interface",
    "pvm",
    "pvm-core",
    "state",
    "tests",
    "transition",
    "types",
]

[package]
name = "rjam"
description = "JAM Rust implementation"
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
# Internal dependencies
jam-block = { path = "block" }
jam-codec = { path = "codec" }
jam-common = { path = "common" }
jam-crypto = { path = "crypto" }
jam-db = { path = "db" }
jam-extrinsics = { path = "extrinsics" }
jam-host-interface = { path = "host-interface" }
jam-pvm-core = { path = "pvm-core" }
jam-state = { path = "state" }
jam-transition = { path = "transition" }
jam-types = { path = "types" }
# External dependencies
ark-ec-vrfs = { git = "https://github.com/davxy/ark-ec-vrfs", rev = "6b07f6f", features = ["bandersnatch", "ring", "parallel", "test-vectors"] }
blake2 = "0.10.6"
bit-vec = "0.8.0"
dotenv = "0.15.0"
thiserror = "1.0.63"
rocksdb = "0.22.0"
lazy_static = "1.5.0"
hex = "0.4.3"
serde = { version = "1.0.204", features = ["derive"] }
time = "0.3.36"

[dependencies]
jam-common = { workspace = true }
jam-db = { workspace = true }
jam-extrinsics = { workspace = true }
jam-state = { workspace = true }
lazy_static = { workspace = true }

[dev-dependencies]
serde_json = "1.0.121"

[features]
testing = ["jam-common/testing"]
