[workspace]
resolver = "2"

members = [
    "codec/rjam-codec",
    "codec/rjam-codec-derive",
    "common",
    "conformance-tests",
    "crypto",
    "db",
    "extrinsics",
    "pvm-hostcall",
    "merkle",
    "node",
    "pvm",
    "pvm-core",
    "pvm-invocation",
    "state",
    "state-merkle",
    "transition",
    "types",
]

[workspace.package]
edition = "2021"

[workspace.dependencies]
# Internal dependencies
rjam-codec = { path = "codec/rjam-codec" }
rjam-codec-derive = { path = "codec/rjam-codec-derive" }
rjam-common = { path = "common" }
rjam-crypto = { path = "crypto" }
rjam-db = { path = "db" }
rjam-extrinsics = { path = "extrinsics" }
rjam-merkle = { path = "merkle" }
rjam-node = { path = "node" }
rjam-pvm = { path = "pvm" }
rjam-pvm-core = { path = "pvm-core" }
rjam-pvm-invocation = { path = "pvm-invocation" }
rjam-pvm-hostcall = { path = "pvm-hostcall" }
rjam-state = { path = "state" }
rjam-state-merkle = { path = "state-merkle" }
rjam-transition = { path = "transition" }
rjam-types = { path = "types" }
# External dependencies
ark-ec-vrfs = { git = "https://github.com/davxy/ark-ec-vrfs", rev = "d90e180", features = ["bandersnatch", "ring"] }
async-trait = "0.1.84"
blake2 = "0.10.6"
bit-vec = "0.8.0"
dashmap = "6.1.0"
dotenv = "0.15.0"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
futures = "0.3.31"
hex = "0.4.3"
num_enum = "0.7.3"
paste = "1.0.15"
proc-macro2 = "1.0.86"
quote = "1.0.37"
rand = "0.8.5"
rocksdb = { version = "0.22.0", features = ["default", "multi-threaded-cf"] }
serde = { version = "1.0.216", features = ["derive"] }
sha3 = "0.10.8"
syn = { version = "2.0.79", features = ["full", "extra-traits"] }
tempfile = "3.14.0"
thiserror = "1.0.65"
time = "0.3.36"
tokio = { version = "1.42.0", features = ["full"] }
