name: Rust

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set rust toolchain version
        run: rustup override set nightly
      - name: Check rust toolchain version
        run: rustup --version
      - name: Install nextest
        run: cargo install cargo-nextest --locked
      - name: Run tests
        run: cargo nextest run --workspace --profile ci

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set rust toolchain version
        run: rustup override set nightly
      - name: Check rust toolchain version
        run: rustup --version
      - name: Add rustfmt
        run: rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set rust toolchain version
        run: rustup override set nightly
      - name: Check rust toolchain version
        run: rustup --version
      - name: Add clippy
        run: rustup component add clippy
      - name: Run clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings -W clippy::all
