name: Dependabot PR Rust tests

on:
  pull_request:
    types:
      - opened

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set rust toolchain version
        run: rustup override set nightly
      - name: Check rust toolchain version
        run: rustup --version
      - name: Install nextest
        run: cargo install cargo-nextest --locked
      - name: Run tests
        run: cargo nextest run --workspace --profile ci
